// --- Common Variables ---
$gutter-y: 24px;
$gutter-x: 24px;

$breakpoints: (
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
        xxxl: 1600px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
        xxxl: 1480px
);

// --- Chemical Card Variables ---
$border-color-translucent: rgba(0, 0, 0, .175);

$card-border-width: 1px;
$card-border-color: $border-color-translucent;
$card-border-radius: .375rem;

$card-box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);

$card-height: auto;
$card-color: inherit;
$card-bg: #fff;
